.bg-con {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #150b3e;
  width: 450px;
  padding: 30px;
  color: #d4d2db;
  border-radius: 10px;
  font-family: 'Roboto';
}
.profile-con {
  display: flex;
  align-items: center;
}
.profile-logo {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #585076;
  background-color: #c7d2fe;
  border-radius: 10px;
  margin-right: 20px;
}
.profile-name {
  font-size: 20px;
}
.withdraw-con {
  display: flex;
  justify-content: space-between;
}
.text {
  color: #585076;
  font-weight: 500;
}
.balance {
  font-size: 24px;
  font-weight: 500;
}
.withdraw-text {
  font-size: 10px;
  color: #585076;
}
.withdraw-sub-heading {
  font-size: 22px;
}
.denomination-con {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
